

.book_info h1
{  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 105px;
    margin: left 10px; ;
}


.container {
    display: flex;
    align-items: row;
    justify-content: space-between;
  }
  
.text {
    padding: 1em;
}


.Formatted {
    margin-top: 65px;
    color: wheat;
    font-size: 25px;
}


.Formatted br{
    font-size: 40px;
    margin-left: 100px;
    
}


